.list{ :'data-post-url' => (@show_edit_ui ? update_list_path(current_user.handle, list.id) : nil), :class => list.is_contracted? ? 'minimise' : '' }
  .title 
    = text_area_tag :name, list.name
  %ul.items
    - list.items.each_with_index do |item, index|
      %li.item
        .edit
          .text
            = text_area_tag "item-text[]", item.text
          .controls
            - if @show_edit_ui
              %a.remove.ui{ :href => '#'}= icon('trash-o')
  - if @show_edit_ui
    .controls.ui
      %a.add-item{ :href => '#'} 
        = icon('plus-square-o') + ' New item'
      .config
        %a.show-config{ :href => '#', :'data-togglesib' => '.config-items' }= icon('cog') + ' Config'
        %ul.config-items.hidden
          %li
            %a.toggle-contracted{ :href => '#' }
              = icon('eye-slash') + ' minimise'
              = check_box_tag 'is_contracted', :true, list.is_contracted
          %li
            %a.toggle-parsed{ :href => '#' }
              = icon('file-code-o') + ' parsed'
              = check_box_tag 'is_in_parsed_mode', :true, list.is_in_parsed_mode
          %li
            %a.toggle-public{ :href => '#' }
              = icon('share-square-o') + ' public'
              = check_box_tag 'is_public', :true, list.is_public
          %li
            .sort
              = icon('sort-numeric-desc')
              sort
              = text_field_tag "priority", list.priority
          %li
            %a.remove-list{ :href => '#' }
              = icon('trash-o') + ' Delete list'
  - else
    .hidden= check_box_tag 'is_in_parsed_mode', :true, list.is_in_parsed_mode
